body {
	margin: 0;
	padding: 0;
	background-color: #f0f2f5;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.skin {
	background-color: rgb(64, 64, 64);
	background-image: url(https://img.houhoukang.com/wechat-robot-admin-bg.jpg);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	min-width: 1000px;
	z-index: -10;
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	zoom: 1;
}

.nav,
.filter,
.content,
.pagination {
	background-color: #fff;
	padding: 8px 12px;
	border-radius: 4px;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filter {
	margin: 16px 0;
}

.pagination {
	margin-top: 16px;
}

.new-message {
	animation: flash 0.8s infinite alternate;
}

.github-icon, .wechat-icon {
	font-size: 32px;
	vertical-align: middle;
	color: #4d4c4c;
}

@keyframes flash {
	from {
		background-color: transparent;
	}

	to {
		background-color: #f5a104cc;
		border-color: #f5a104cc;
	}
}

.cards-container {
	display: grid;
	gap: 16px;
}

@media (max-width: 599px) {
	.cards-container {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (min-width: 600px) and (max-width: 959px) {
	.cards-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 960px) and (max-width: 1279px) {
	.cards-container {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1280px) {
	.cards-container {
		grid-template-columns: repeat(5, 1fr);
	}
}
