name: Alibaba Cloud Registry Docker Image CI (异构)

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  push_to_acr:
    name: Push Docker image to Alibaba Cloud Registry
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Alibaba Cloud Registry
        run: |
          echo "${{ secrets.ACR_PASSWORD }}" | docker login --username="${{ secrets.ACR_USERNAME }}" --password-stdin ${{ secrets.ACR_REGISTRY }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.ACR_REGISTRY }}/houhou/wechat-robot-admin-frontend

      - name: Build and push Docker image to Alibaba Cloud Registry
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          cache-from: type=gha,scope=wechat-robot-admin-frontend
          cache-to: type=gha,mode=max,scope=wechat-robot-admin-frontend
          build-args: |
            BRANCH=${{ github.ref_name }}
            IMAGE_TAG=${{ github.sha }}
          tags: |
            ${{ secrets.ACR_REGISTRY }}/houhou/wechat-robot-admin-frontend:latest
          labels: ${{ steps.meta.outputs.labels }}
